section .menu-section {
  width: 100%;
  height: 400px;
  background-color: #953A2E;
  position: relative; }
  section .menu-section .menu-bar {
    display: flex;
    align-items: center;
    padding-top: 30px; }
    section .menu-section .menu-bar .logo {
      width: 15%;
      height: 50px; }
      section .menu-section .menu-bar .logo img {
        width: 100px;
        height: 50px;
        margin-left: 30px; }
    section .menu-section .menu-bar nav {
      width: 70%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center; }
      section .menu-section .menu-bar nav ul {
        list-style: none;
        float: left;
        margin: 0; }
        section .menu-section .menu-bar nav ul li a {
          text-decoration: none;
          font-size: 15px;
          font-weight: 500;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: white; }
        section .menu-section .menu-bar nav ul li .active {
          color: #D0963E; }
    section .menu-section .menu-bar .button {
      width: 15%;
      height: 50px;
      display: flex;
      align-items: center; }
      section .menu-section .menu-bar .button button {
        color: #D0963E;
        background-color: #953A2E;
        border: 2px solid #D0963E;
        padding: 10px;
        margin-left: 30px; }
section .banner {
  width: 96%;
  height: 400px;
  background-image: url(../img/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 140px; }
  section .banner .content {
    color: white;
    position: relative; }
    section .banner .content h1 {
      margin: 0px;
      font-family: "Poppins", sans-serif;
      font-size: 50px;
      font-weight: 500;
      line-height: 40px; }
    section .banner .content h4 {
      margin: 0px;
      font-family: "Poppins", sans-serif;
      font-size: 25px;
      line-height: 50px;
      margin-left: 50px; }
    section .banner .content h2 {
      margin: 0px;
      font-size: 70px;
      font-family: "Kristi", cursive;
      font-weight: 500;
      line-height: 50px;
      margin-left: 100px; }
    section .banner .content .bcd1 {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 15px;
      left: 180px;
      transform: rotate(180deg); }
    section .banner .content .bcd2 {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50px;
      left: -10px;
      transform: rotate(0deg); }
  section .banner .buttons {
    width: 50%;
    display: flex;
    position: absolute;
    bottom: -20px;
    left: 400px; }
    section .banner .buttons .button1 {
      color: white;
      background-color: #D0963E;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      border: none;
      padding: 10px 60px;
      margin-right: 25px; }
    section .banner .buttons .button2 {
      color: white;
      background-color: #D0963E;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      border: none;
      padding: 10px 60px; }
section .special-moments {
  height: 750px;
  background-color: #FEF4EC; }
  section .special-moments h6 {
    margin: 0px 0 0 0;
    padding: 200px 0 0 0;
    text-align: center;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black; }
  section .special-moments .img-content {
    display: flex;
    margin-left: 200px;
    margin-top: 40px; }
    section .special-moments .img-content img {
      width: 400px;
      height: 400px;
      border-radius: 250px 150px 100px 180px;
      margin-right: 50px;
      position: relative; }
    section .special-moments .img-content .content {
      width: 300px;
      margin-top: 180px; }
      section .special-moments .img-content .content p {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #953A2E; }
      section .special-moments .img-content .content button {
        color: #953A2E;
        border: 1px solid #953A2E;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        background-color: #FEF4EC;
        padding: 10px 50px;
        text-transform: uppercase; }
    section .special-moments .img-content h1 {
      margin: 0px;
      font-size: 45px;
      font-family: "Kristi", cursive;
      font-weight: 500;
      margin-left: 100px;
      background-color: #953A2E;
      color: white;
      padding: 5px 10px;
      position: absolute;
      top: 750px;
      left: 450px; }
  section .special-moments .image {
    width: 250px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    top: 950px;
    left: 200px; }
section .cards-section {
  height: 500px;
  background-color: #E1DBD6; }
  section .cards-section h1 {
    margin: 0px;
    padding: 40px 0 0 0;
    font-size: 45px;
    font-family: "Kristi", cursive;
    font-weight: 500;
    color: #953A2E;
    text-align: center; }
  section .cards-section .cards {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 200px; }
    section .cards-section .cards .card-1 {
      width: 35%;
      height: 300px;
      background-image: url(../img/wedding\ img.avif);
      background-repeat: no-repeat;
      background-size: 300px 300px;
      position: relative; }
      section .cards-section .cards .card-1 .button1 {
        color: white;
        background-color: #D0963E;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        border: none;
        padding: 10px 60px;
        margin-right: 25px;
        position: absolute;
        top: -15px;
        left: 60px; }
      section .cards-section .cards .card-1 .button2 {
        color: #706C68;
        background-color: #DBD5D0;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        border: none;
        padding: 10px 35px;
        margin-right: 25px;
        position: absolute;
        bottom: 25px;
        left: 70px; }
    section .cards-section .cards .card-2 {
      width: 35%;
      height: 300px;
      background-image: url(../img/engagement\ image.jpg);
      background-repeat: no-repeat;
      background-size: 300px 300px;
      position: relative; }
      section .cards-section .cards .card-2 .button1 {
        color: white;
        background-color: #D0963E;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        border: none;
        padding: 10px 50px;
        margin-right: 25px;
        position: absolute;
        top: -15px;
        left: 60px; }
      section .cards-section .cards .card-2 .button2 {
        color: #706C68;
        background-color: #DBD5D0;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        border: none;
        padding: 10px 35px;
        margin-right: 25px;
        position: absolute;
        bottom: 25px;
        left: 70px; }
    section .cards-section .cards .card-3 {
      width: 35%;
      height: 300px;
      background-image: url(../img/maternity.avif);
      background-repeat: no-repeat;
      background-size: 300px 300px;
      position: relative; }
      section .cards-section .cards .card-3 .button1 {
        color: white;
        background-color: #D0963E;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        border: none;
        padding: 10px 60px;
        margin-right: 25px;
        position: absolute;
        top: -15px;
        left: 60px; }
      section .cards-section .cards .card-3 .button2 {
        color: #706C68;
        background-color: #DBD5D0;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        border: none;
        padding: 10px 35px;
        margin-right: 25px;
        position: absolute;
        bottom: 25px;
        left: 70px; }
section .oliva-card-section {
  height: 580px;
  background-image: url(../img/img3.avif);
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: 300px 40px;
  position: relative; }
  section .oliva-card-section .card {
    width: 28%;
    padding: 30px 30px 50px 80px;
    box-sizing: border-box;
    border: 1px solid #706C68;
    position: absolute;
    top: 250px;
    left: 610px; }
    section .oliva-card-section .card h1 {
      margin: 0px;
      font-size: 45px;
      font-family: "Kristi", cursive;
      font-weight: 500;
      color: #953A2E;
      margin-bottom: 10px; }
    section .oliva-card-section .card h6 {
      margin: 0px;
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #953A2E;
      margin-left: 15px;
      margin-bottom: 10px; }
    section .oliva-card-section .card p {
      margin: 0px;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #706C68;
      margin-left: 10px; }
  section .oliva-card-section .button1 {
    color: white;
    background-color: #D0963E;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 40px;
    position: absolute;
    top: 488px;
    left: 800px; }
  section .oliva-card-section .image {
    width: 250px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    top: 350px;
    left: 250px; }
section .amazing {
  height: 500px;
  background-color: #953A2E; }
  section .amazing .content {
    width: 25%;
    padding: 60px 0;
    margin: 0px 0 0 300px;
    position: absolute;
    top: 2240px; }
    section .amazing .content h1 {
      margin: 0px;
      font-size: 60px;
      font-family: "Kristi", cursive;
      font-weight: 500;
      color: #953A2E;
      margin-bottom: 10px;
      padding: 0 5px;
      background-color: #C49D91; }
    section .amazing .content P {
      width: 50%;
      color: #E1DBD6;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      margin: 20px 0 20px 15px; }
    section .amazing .content .button1 {
      color: #E1DBD6;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      border: 1px solid #E1DBD6;
      background-color: #953A2E;
      padding: 10px 40px;
      margin-left: 15px; }
  section .amazing .img-content {
    margin: 0px 0 0 600px;
    padding-top: 50px;
    position: relative; }
    section .amazing .img-content img {
      width: 370px;
      height: 370px; }
    section .amazing .img-content p {
      font-size: 13px;
      margin: 20px 0 0 0;
      display: block;
      color: #D0963E; }
section .my-promise {
  display: flex;
  height: 480px;
  background-color: #FAF4F0;
  background-image: url(../img/camera\ women.jpg);
  background-repeat: no-repeat;
  background-position: 320px 70px;
  background-size: 330px 330px;
  position: relative; }
  section .my-promise h1 {
    margin: 0px;
    font-size: 70px;
    font-family: "Kristi", cursive;
    font-weight: 500;
    color: #953A2E;
    margin-bottom: 10px;
    padding: 0 5px;
    position: absolute;
    top: 55px;
    left: 610px; }
  section .my-promise .content p {
    width: 20%;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #706C68;
    margin: 150px 0 0 650px;
    text-align: center;
    padding: 50px;
    background-color: #F1E5DC;
    position: relative; }
  section .my-promise .content .buttons {
    position: absolute;
    top: 340px;
    left: 690px; }
    section .my-promise .content .buttons .button1 {
      color: white;
      background-color: #D0963E;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      border: none;
      text-align: center;
      padding: 10px 40px;
      margin-right: 15px; }
    section .my-promise .content .buttons .button2 {
      color: white;
      background-color: #D0963E;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      border: none;
      text-align: center;
      padding: 10px 30px; }
section .Follow-section {
  height: 300px;
  background-color: #F6EBE3;
  position: relative; }
  section .Follow-section h3 {
    margin: 0px;
    font-size: 40px;
    font-family: "Kristi", cursive;
    font-weight: 500;
    color: #953A2E;
    text-align: center;
    padding: 40px 0 20PX 0; }
  section .Follow-section .cards {
    background-color: white;
    width: 95%;
    margin-left: 33px;
    position: absolute; }
    section .Follow-section .cards p {
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      color: #706C68;
      text-align: center;
      padding: 10PX 0 20PX 0; }
    section .Follow-section .cards .card {
      margin-left: 30px; }
      section .Follow-section .cards .card img {
        width: 230px;
        height: 230px;
        margin-right: 10px;
        margin-bottom: 20px; }
section .Get-in-touch {
  height: 550px;
  background-color: #D0963E;
  display: flex;
  justify-content: space-between; }
  section .Get-in-touch .get-block {
    width: 30%;
    margin-left: 200px; }
    section .Get-in-touch .get-block h3 {
      margin: 0px;
      font-size: 40px;
      font-family: "Kristi", cursive;
      font-weight: 500;
      color: white;
      text-align: center;
      padding: 200px 0 0PX 0; }
    section .Get-in-touch .get-block .n-e {
      display: flex; }
      section .Get-in-touch .get-block .n-e .name {
        width: 50%;
        margin-right: 10px; }
        section .Get-in-touch .get-block .n-e .name p {
          font-size: 12px;
          font-family: "Poppins", sans-serif;
          color: white; }
        section .Get-in-touch .get-block .n-e .name hr {
          height: 1px;
          background-color: white;
          border: none; }
      section .Get-in-touch .get-block .n-e .email {
        width: 50%;
        margin-left: 10px; }
        section .Get-in-touch .get-block .n-e .email p {
          font-size: 12px;
          font-family: "Poppins", sans-serif;
          color: white; }
        section .Get-in-touch .get-block .n-e .email hr {
          background-color: white;
          height: 1px;
          border: none; }
    section .Get-in-touch .get-block .your-message p {
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      color: white; }
    section .Get-in-touch .get-block .your-message hr {
      background-color: white;
      height: 1px;
      border: none; }
    section .Get-in-touch .get-block .button1 {
      color: white;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      border: 1px solid white;
      background-color: #D0963E;
      padding: 10px 40px;
      margin-top: 15px; }
section .lets-block {
  width: 30%; }
  section .lets-block h3 {
    margin: 0px;
    font-size: 40px;
    font-family: "Kristi", cursive;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 200px 0 0PX 0; }
  section .lets-block p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 20px;
    margin-top: 15px;
    text-align: center; }
  section .lets-block .button1 {
    color: white;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    border: 1px solid white;
    background-color: #D0963E;
    padding: 10px 40px;
    margin-top: 15px;
    text-align: center;
    margin-left: 120px; }
section .footer-block {
  height: 310px;
  background-color: #953A2E; }
  section .footer-block .icons {
    text-align: center;
    padding-top: 40px; }
    section .footer-block .icons i {
      color: white;
      margin-right: 10px; }
  section .footer-block .logo {
    width: 15%;
    height: 50px; }
    section .footer-block .logo img {
      width: 180px;
      height: 100px;
      margin-top: 30px; }
  section .footer-block nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px; }
    section .footer-block nav ul {
      list-style: none;
      float: left;
      margin: 0; }
      section .footer-block nav ul li a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white; }
      section .footer-block nav ul li .active {
        color: #D0963E; }
      section .footer-block nav ul li .menu {
        font-size: 40px;
        font-family: "Kristi", cursive;
        color: white; }
section .footer-copyright {
  height: 130px; }
  section .footer-copyright p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #706C68;
    text-align: center;
    margin: 0;
    padding: 10PX 0 0PX 0; }
  section .footer-copyright .head {
    font-size: 15px;
    padding: 30PX 0 0PX 0;
    color: #797977; }

/*# sourceMappingURL=style.css.map */
