//colors

$marin: #953A2E;
$yellow: #D0963E;
$pink: #FEF4EC;
$gray: #E1DBD6;
$light-gray: #DBD5D0;
$gray2: #706C68;
$light-marin: #C49D91;
$dark-pink: #F1E5DC;
$gray1: #FAF4F0;
$dark-pink2: #F6EBE3;


//font-family

$Poppins: 'Poppins', sans-serif;

$Kristi: 'Kristi', cursive;
$Poppins: 'Poppins', sans-serif;